<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('crud.static', filename='style.css')
      }}"
    />
    <title>create</title>
  </head>

  <body>
    <div class="container">
      <div class="wrapper">
        <h2 class="create_title">メモ新規作成</h2>
        <form
          action="{{ url_for('crud.create_memo') }}"
          method="POST"
          novalidate="novalidate"
        >
          {{ form.csrf_token }}
          <p>{{ form.title.label }}</p>
          <p>{{ form.title(placeholder="タイトル") }}</p>
          {% for error in form.title.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %}

          <p>{{ form.text.label }}</p>
          <p>{{ form.text(placeholder="テキスト") }}</p>
          {% for error in form.text.errors %}
          <span style="color: red">{{ error }}</span>
          {% endfor %}

          <p>{{ form.submit() }}</p>
        </form>

        <a href="{{ url_for('crud.index') }}">メモ一覧</a>
      </div>
    </div>
  </body>
</html>
