{% extends 'layout.html' %} {% block title %}edit{% endblock %} {% block content
%}
<div class="container">
  <div class="wrapper">
    <h2 class="create_title">メモ編集</h2>
    <form
      action="{{ url_for('crud.edit_memo', memo_id=memo.id) }}"
      method="POST"
      novalidate="novalidate"
    >
      {{ form.csrf_token }}
      <p>{{ form.title.label }}</p>
      <p>{{ form.title(placeholder="タイトル", value=memo.title) }}</p>
      {% for error in form.title.errors %}
      <span style="color: red">{{ error }}</span>
      {% endfor %}

      <p>{{ form.text.label }}</p>
      <p>{{ form.text(placeholder="テキスト", value=memo.text) }}</p>
      {% for error in form.text.errors %}
      <span style="color: red">{{ error }}</span>
      {% endfor %}

      <p><input type="submit" value="更新" /></p>
      <input name="mecab" type="submit" value="分かち書き" />
    </form>

    <div>{{ wakati }}</div>

    <a href="{{ url_for('crud.index') }}">メモ一覧</a>
  </div>
</div>

{% endblock %}
