<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('crud.static', filename='style.css')
      }}"
    />
    <title>メモの一覧</title>
  </head>

  <body>
    <div class="container">
      <div class="wrapper">
        <h2>メモの一覧</h2>
        <a href="{{ url_for('crud.create_memo') }}">メモの新規作成</a>

        <table class="memo_list">
          <tr>
            <th>タイトル</th>
            <th>テキスト</th>
          </tr>
          {% for memo in memo_list %}
          <tr>
            <th>{{ memo.title }}</th>
            <th>{{ memo.text }}</th>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>
</html>
